/* public/styles.css */
@font-face {
    font-family: 'PricedownBL';
    src: url('/assets/fonts/pricedown-bl.otf') format('opentype');
  }

  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */

.container  {
    height: 100%;
    margin-top: 8vw;
    /* max-width: 70%; */
    position: relative;
    /* overflow: hidden; */
    border: 20px solid black;
}

  .gta-text {
    font-family: 'PricedownBL', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .gta-small-text {
    /* font-family: 'PricedownBL', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white; */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }

  .gta-intro-text {
    font-family: 'PricedownBL', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: black;
  }

  .intro-texts, .intro {
    display: flex;
    height: 100%;
  }

  .intro-texts {
    flex-direction: column;
    margin-top: 4rem;
  }

  .with-background-image {
    /* other styles */
    background: url('/assets/img/gta4-bg.jpg') repeat 20% 80%;
    animation: bgmove 10s infinite linear;
    opacity: 1;
    transition: opacity 0.5s;
    height: 90vh;
  }

  
  @keyframes bgmove {
    0% {
      background-position: 20% 50%;
      /* transform: scale(1,1); Start from top left */
    }
    100% {
      background-position: 40% 100%; /* Move to the bottom right corner */
      /* transform: scale(1.1,1.1); */
    }
  }



.intro {
    position:relative; 
    overflow:hidden;
}

.figureImg1 {
    position: relative;
    bottom: 5vh;
    left: 15%;
    animation: movenico 40s linear infinite;
    opacity: 1;
    transition: opacity 0.5s;
}

.figureImg2 {
    position: relative;
    bottom: 10vh;
    left: 15%;
    animation: movenico2 40s linear infinite;
    opacity: 1;
    transition: opacity 0.5s;
}

@keyframes movenico {
    0% {
        bottom: 5vh;
        left: 15%;
        transform: scale(1,1);
    }
    100% {
      /* Set the final position for nico's animation */
      bottom: 15vh;
      left: -5%;
      transform: scale(1.2,1.2);
    }
  }

  @keyframes movenico2 {
    0% {
        bottom: 10vh;
        left: 15%;
        transform: scale(1,1);
    }
    100% {
      /* Set the final position for nico's animation */
      bottom: 22vh;
      left: -25%;
      transform: scale(1.2,1.2);
    }
  }

.bg-image-container {
  min-height: 90vh;
}

.musicPlayer {
  position: fixed;
  left: 68%;
  bottom: 93%;
  z-index: 1;
}

.links {
  transition: letter-spacing 0.5s;
}

.links:hover {
  letter-spacing: 0.7rem;
}

/* .background-block { */
  /* height: 100%; */
/* } */

.poster-popup {
  height: 28rem;
}

.play-icons {
  display: flex;
  flex-direction: row;
}

.gta-audio {
  display: none;
}


music-icons:hover {
  color: gray;
}

.loading-bar {
  margin-top: 15rem;
}


/* Introduction */

.introduction-main {
  height: 100vh;
}

.int-header {
  font-size: 3rem;
  /* margin-top: 1rem; */
}

/* Skills */

.cards-firstrow, .cards-secondrow {
  display: flex;
  padding: 3rem;
}

.cards1, .cards2 {
  height: 200px;
  width: 200px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  /* margin: 0; */
  scroll-snap-align: start;
  clear: both;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cards1:focus-within~.cards1, .cards1:hover~.cards1 {
  transform: translateX(130px);
}

.cards1:hover {
  transform: translateY(-1rem);
}

.cards1:not(:first-child) {
  margin-left: -130px;
}

.cards2:focus-within~.cards2, .cards2:hover~.cards2 {
  transform: translateX(130px);
}

.cards2:hover {
  transform: translateY(-1rem);
}

.cards2:not(:first-child) {
  margin-left: -130px;
}

.skill-click1, .skill-click2 {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  /* margin: 50%; */
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

a {
  text-decoration: none;
}

.cards1, .cards2 {
  margin-bottom: auto;
  margin: auto;
}

.cards1 h2, .cards2 h2 {
  font-size: 1.7rem;
  margin: .25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.cards1 h2:hover, .cards2 h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}